.home {
  .section {
    display: inline-block;
    vertical-align: top;
  
    a {
        color: #ddd;
        padding: 0.5em;
        display: block;
        background: #364F6C;
        display: inline-block;
        margin-right: 0.5em;
  
        &:last-child {
          margin-right: 0;
        }
      }
  
    h3 {
      background: #364F6C;
      display: inline-block;
      font-size: 1em;
      margin: 0;
    }
  
    > div {
      border: 1px solid #364F6C;
      margin-right: 0.5em;
      padding: 0.5em;
  
      p {
        margin: 0 0 0.5em 0;
  
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}