<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>barfooz.net | ${input.title}</title>
    <script src="https://use.fontawesome.com/afec370c56.js"/>
  </head>
  <body>
    <sidebar content=input.content title=input.title />
    <div.main>
      <include(input.content)/>
    </div>
    <script src="../../static/javascripts/prism.js" />
  </body>
</html>
