style.less {
  .avatar {
    width: 100%;

    img {
      border-radius: 50%;
      padding: 5px;
      border: 2px solid #A8A99B;
      margin: 20px auto;
      display: block;
    }

    h1 {
      text-align: center;
      color: #ddd;
      font-size: 24px;

      span {
        color: #A8A99B;
      }
    }
  }
}

<div.avatar>
  <img src="./avatar.jpg" />

  <h1>
    <i.fa.fae-footprint/>
    barfooz<span>.net</span>
  </h1>
</div>
