style.less {
  .sidebar-additional-links {
    padding: 25px 0px;
    text-align: center;

    &, a {
      color: #aaa;
    }
    
    a {
      line-height: 2em;
      font-size: 0.9em;
    }
  }
}

<div.sidebar-additional-links>
  <a href="https://blog.depold.com" target="_blank">Blog</a>
  | <a href="https://www.github.com/sdepold" target="_blank">Github</a>
  | <a href="/imprint">Imprint</a>
</div>