style.less {
    .sidebar {
        display: block;
        width: 300px;
        background: #21334D;
        position: fixed;
        top: 0;
        bottom: 0;
        overflow-y: scroll;
    }
}

<div.sidebar>
  <sidebar-avatar />
  <sidebar-menu content=input.content title=input.title />
</div>
